#grid { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    }
  #grid > div {
    font-size: 2vw;
    padding: .1em;
    background: gold;
    text-align: center;
  }
  